# Statistical Analysis

### Descriptive Analysis

In [3]:
import pandas as pd

In [9]:
# Doctorate Recipients by Demography--- Doctrate reciepients by Citizenship,  Race/Ethnicity, Sex, S&E Fields, Broad Fields, Detailed Fields, and Year
# Data Download from NCSES Interactive Data Tool
df = pd.read_csv('../../WorkingFiles/NSF_NCSES/Data/SED_export_table_2020-11-12T19_44_35.595Z.csv', skiprows=[0], header=[1])
#df = df.set_index(['Citizenship','S&E Fields', 'Broad Fields', 'Detailed Fields', 'Race and Ethnicity','Sex'])
df = df.stack().to_frame()
df.head()

                                              0
0 S&E Fields            Science and engineering
  Broad Fields        Total for selected values
  Detailed Fields     Total for selected values
  Race and Ethnicity  Total for selected values
  Citizenship         Total for selected values

In [7]:
df

<bound method DataFrame.stack of                                              S&E Fields  \
0                               Science and engineering
1                               Science and engineering
2                               Science and engineering
3                               Science and engineering
4                               Science and engineering
...                                                 ...
1301                                                NaN
1302                                             NOTES:
1303                                                NaN
1304  SOURCE: National Center for Science and Engine...
1305           Downloaded 2020/11/12 at 14:44:35 PM EST

                   Broad Fields                              Detailed Fields  \
0     Total for selected values                    Total for selected values
1                 Life sciences                    Total for selected values
2                 Life sciences  Agricultural sciences and natural resources
3                 Life sciences  Agricultural sciences and natural resources
4                 Life sciences  Agricultural sciences and natural resources
...                         ...                                          ...
1301                        NaN                                          NaN
1302                        NaN                                          NaN
1303                        NaN                                          NaN
1304                        NaN                                          NaN
1305                        NaN                                          NaN

             Race and Ethnicity                         Citizenship  \
0     Total for selected values           Total for selected values
1     Total for selected values           Total for selected values
2     Total for selected values           Total for selected values
3            Hispanic or Latino           Total for selected values
4            Hispanic or Latino  U.S. citizen or permanent resident
...                         ...                                 ...
1301                        NaN                                 NaN
1302                        NaN                                 NaN
1303                        NaN                                 NaN
1304                        NaN                                 NaN
1305                        NaN                                 NaN

                            Sex    2018    2017    2016    2015  ...    1989  \
0     Total for selected values  42,227  41,294  41,234  41,178  ...  22,565
1     Total for selected values  12,780  12,555  12,536  12,493  ...   6,410
2     Total for selected values     793     822     771     774  ...     801
3     Total for selected values      50      47      46      52  ...      21
4     Total for selected values      50      47      46      52  ...      21
...                         ...     ...     ...     ...     ...  ...     ...
1301                        NaN     NaN     NaN     NaN     NaN  ...     NaN
1302                        NaN     NaN     NaN     NaN     NaN  ...     NaN
1303                        NaN     NaN     NaN     NaN     NaN  ...     NaN
1304                        NaN     NaN     NaN     NaN     NaN  ...     NaN
1305                        NaN     NaN     NaN     NaN     NaN  ...     NaN

        1988    1987    1986    1985    1984    1983    1982    1981    1980
0     21,675  20,558  20,064  19,504  19,285  19,117  18,736  18,713  18,169
1      6,222   5,783   5,767   5,822   5,803   5,603   5,762   5,665   5,501
2        745     738     745     849     783     814     819     778     746
3         22      17      19      17      10      12      11      18       7
4         22      17      19      17      10      12      11      18       7
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
1301     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1302     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1303     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1304     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1305     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[1306 rows x 45 columns]>