# Forest Covertypes
Data Source: https://scikit-learn.org/0.16/datasets/index.html; http://archive.ics.uci.edu/ml/datasets/Covertype

The samples in this dataset correspond to 30×30m patches of forest in the US, collected for the task of predicting each patch’s cover type, i.e. the dominant species of tree. There are seven covertypes, making this a multiclass classification problem. 

### Downloading Data

In [18]:
# Import Libraries
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_covtype

In [42]:
#Option 1

fc = fetch_covtype()
print(type(fc))
print(dir(fc))
# np.c_ is the numpy concatenate function which is used to concat fc['data'], fc['target'] arrays 
# for pandas column argument: concat fc['feature_names'] list and string list (in this case one string); 
# the target variable is forest cover type classes 
# Forest Cover Type Classes:      1 -- Spruce/Fir
#                                 2 -- Lodgepole Pine
#                                 3 -- Ponderosa Pine
#                                 4 -- Cottonwood/Willow
#                                 5 -- Aspen
#                                 6 -- Douglas-fir
#                                 7 -- Krummholz
df = pd.DataFrame(data= np.c_[fc['data'], fc['target']],
                     columns= fc['feature_names'] + ['target'])
df.head(3)

<class 'sklearn.utils.Bunch'>
['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,target
0,2596.0,51.0,3.0,258.0,0.0,510.0,221.0,232.0,148.0,6279.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,2590.0,56.0,2.0,212.0,-6.0,390.0,220.0,235.0,151.0,6225.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2804.0,139.0,9.0,268.0,65.0,3180.0,234.0,238.0,135.0,6121.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [43]:
# Option2
def df2(): 
    fc = fetch_covtype()    
    data = np.c_[fc.data, fc.target]
    columns = np.append(fc.feature_names, ["target"])
    return pd.DataFrame(data, columns=columns)

df2 = df2()
df2.head(3)

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,target
0,2596.0,51.0,3.0,258.0,0.0,510.0,221.0,232.0,148.0,6279.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,2590.0,56.0,2.0,212.0,-6.0,390.0,220.0,235.0,151.0,6225.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2804.0,139.0,9.0,268.0,65.0,3180.0,234.0,238.0,135.0,6121.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0