In [1]:
import os
import sys
import openpyxl
import pygal
import pandas as pd
import numpy as np
from pandas import ExcelWriter
from pandas import ExcelFile
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics import mosaicplot
from statsmodels.graphics.mosaicplot import mosaic
sns.set(style="ticks", color_codes=True)
from rpy2.robjects.packages import importr
import requests
import xlrd

plt.style.use('ggplot')

In [24]:
#  Doctorate Recipients by DemographDoctrate reciepients by Citizenship,  Race/Ethnicity, Sex, S&E Fields, Broad Fields, Detailed Fields, and Year
# Data Download from NCSES Interactive Data Tool
df1 = pd.read_csv('C:/Users/Muluken/WorkingFiles/NSF_NCSES/Data/SED_Export_2020-06-17T23_22_18.852Z.csv', skiprows=[0], header=[1])
dff1 = df1.set_index(['S&E Fields', 'Broad Fields', 'Detailed Fields'])
dff1.head()
#df1.tail()

                                                                                     2018  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        42,227
                        Life sciences Total                                        12,780
                                      Agricultural sciences and natural resources   1,445
                                      Biological and biomedical sciences            8,801
                                      Health sciences                               2,534

                                                                                     2017  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        41,294
                        Life sciences Total                                        12,555
                                      Agricultural sciences and natural resources   1,494
                                      Biological and biomedical sciences            8,566
                                      Health sciences                               2,495

                                                                                     2016  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        41,234
                        Life sciences Total                                        12,536
                                      Agricultural sciences and natural resources   1,378
                                      Biological and biomedical sciences            8,861
                                      Health sciences                               2,297

                                                                                     2015  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        41,178
                        Life sciences Total                                        12,493
                                      Agricultural sciences and natural resources   1,434
                                      Biological and biomedical sciences            8,783
                                      Health sciences                               2,276

                                                                                     2014  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        40,633
                        Life sciences Total                                        12,484
                                      Agricultural sciences and natural resources   1,338
                                      Biological and biomedical sciences            8,868
                                      Health sciences                               2,278

                                                                                     2013  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        39,031
                        Life sciences Total                                        12,207
                                      Agricultural sciences and natural resources   1,324
                                      Biological and biomedical sciences            8,354
                                      Health sciences                               2,529

                                                                                     2012  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        37,846
                        Life sciences Total                                        11,964
                                      Agricultural sciences and natural resources   1,255
                                      Biological and biomedical sciences            8,322
                                      Health sciences                               2,387

                                                                                     2011  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        36,332
                        Life sciences Total                                        11,535
                                      Agricultural sciences and natural resources   1,206
                                      Biological and biomedical sciences            8,152
                                      Health sciences                               2,177

                                                                                     2010  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        34,997
                        Life sciences Total                                        11,319
                                      Agricultural sciences and natural resources   1,100
                                      Biological and biomedical sciences            8,046
                                      Health sciences                               2,173

                                                                                     2009  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        35,313
                        Life sciences Total                                        11,403
                                      Agricultural sciences and natural resources   1,283
                                      Biological and biomedical sciences            8,025
                                      Health sciences                               2,095

                                                                                   ...  \
S&E Fields              Broad Fields  Detailed Fields                              ...
Science and engineering Total         Total                                        ...
                        Life sciences Total                                        ...
                                      Agricultural sciences and natural resources  ...
                                      Biological and biomedical sciences           ...
                                      Health sciences                              ...

                                                                                     1967  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        13,274
                        Life sciences Total                                         3,143
                                      Agricultural sciences and natural resources     606
                                      Biological and biomedical sciences            2,360
                                      Health sciences                                 177

                                                                                     1966  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        11,732
                        Life sciences Total                                         2,885
                                      Agricultural sciences and natural resources     576
                                      Biological and biomedical sciences            2,135
                                      Health sciences                                 174

                                                                                     1965  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        10,706
                        Life sciences Total                                         2,684
                                      Agricultural sciences and natural resources     576
                                      Biological and biomedical sciences            1,963
                                      Health sciences                                 145

                                                                                    1964  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        9,462
                        Life sciences Total                                        2,361
                                      Agricultural sciences and natural resources    517
                                      Biological and biomedical sciences           1,702
                                      Health sciences                                142

                                                                                    1963  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        8,422
                        Life sciences Total                                        2,083
                                      Agricultural sciences and natural resources    466
                                      Biological and biomedical sciences           1,510
                                      Health sciences                                107

                                                                                    1962  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        7,612
                        Life sciences Total                                        1,975
                                      Agricultural sciences and natural resources    470
                                      Biological and biomedical sciences           1,397
                                      Health sciences                                108

                                                                                    1961  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        6,872
                        Life sciences Total                                        1,783
                                      Agricultural sciences and natural resources    438
                                      Biological and biomedical sciences           1,244
                                      Health sciences                                101

                                                                                    1960  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        6,388
                        Life sciences Total                                        1,729
                                      Agricultural sciences and natural resources    414
                                      Biological and biomedical sciences           1,246
                                      Health sciences                                 69

                                                                                    1959  \
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        6,043
                        Life sciences Total                                        1,581
                                      Agricultural sciences and natural resources    342
                                      Biological and biomedical sciences           1,140
                                      Health sciences                                 99

                                                                                    1958
S&E Fields              Broad Fields  Detailed Fields
Science and engineering Total         Total                                        5,751
                        Life sciences Total                                        1,622
                                      Agricultural sciences and natural resources    339
                                      Biological and biomedical sciences           1,201
                                      Health sciences                                 82

[5 rows x 61 columns]

In [27]:
# Doctorate Recipients by Demographic Characteristics ---- Data by Citizenship,  Race/Ethnicity, Sex, S&E Fields, Broad Fields, Detailed Fields, and Year
# Data Download from NCSES Interactive Data Tool
df2 = pd.read_csv('C:/Users/Muluken/WorkingFiles/NSF_NCSES/Data/SED_Export_2020-06-17T23_29_53.896Z.csv', skiprows=[0], header=[1])
df2.head()
df2.tail()

,Citizenship,Race and Ethnicity,Sex,S&E Fields,Broad Fields,Detailed Fields,2018,2017,2016,2015,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
960,Unknown citizenship,Ethnicity/Race not available,Unknown sex,Non-science and engineering,Education,Detailed field unavailable,1,2,-,1,...,-,-,-,-,-,-,-,-,-,-
961,Unknown citizenship,Ethnicity/Race not available,Unknown sex,Non-science and engineering,Humanities and arts,Total,3,1,1,1,...,-,-,-,-,-,-,-,-,-,-
962,Unknown citizenship,Ethnicity/Race not available,Unknown sex,Non-science and engineering,Humanities and arts,Detailed field unavailable,3,1,1,1,...,-,-,-,-,-,-,-,-,-,-
963,Unknown citizenship,Ethnicity/Race not available,Unknown sex,Non-science and engineering,Other non-S&E,Total,5,2,2,-,...,-,-,-,-,-,-,-,-,-,-
964,Unknown citizenship,Ethnicity/Race not available,Unknown sex,Non-science and engineering,Other non-S&E,Detailed field unavailable,5,2,2,-,...,-,-,-,-,-,-,-,-,-,-

In [ ]:
import urllib
import requests

In [ ]:
dls = "https://ncses.nsf.gov/pubs/nsf20311#&/nsf20311-tab002"
urllib.urlretrieve(dls, "test.xls")

In [ ]:
import requests
dls = "https://ncses.nsf.gov/pubs/nsf20311#&/nsf20311-tab002.xlsx"
resp = requests.get(dls)

output = open('test.xls', 'wb')
output.write(resp.content)
output.close()

In [ ]:
type(output)

In [ ]:
import io
import requests, zipfile  #, StringIO

# r = requests.get("https://ncsesdata.nsf.gov/datadownload/psd17Public.zip", stream=True)
# z = zipfile.ZipFile(io.StringIO(r.content))
# z.extractall()
import requests, zipfile, io
r = requests.get("https://www.nsf.gov/statistics/ffrdc/pub_data.cfm/data/exp2018.xlsx.zip", stream=True)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [ ]:
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
c=pd.read_csv(url)

In [ ]:
c.columns

In [ ]:
c.head()