In [207]:
import os
import sys
import openpyxl
import pygal
import pandas as pd
import numpy as np
from pandas import ExcelWriter
from pandas import ExcelFile
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics import mosaicplot
from statsmodels.graphics.mosaicplot import mosaic
sns.set(style="ticks", color_codes=True)
from rpy2.robjects.packages import importr
import requests
import xlrd
import warnings
warnings.filterwarnings("ignore")
plt.style.use('ggplot')

In [208]:
#  Doctorate Recipients by DemographDoctrate reciepients by Citizenship,  Race/Ethnicity, Sex, S&E Fields, Broad Fields, Detailed Fields, and Year
# Data Download from NCSES Interactive Data Tool
df1 = pd.read_csv('C:/Users/Muluken/WorkingFiles/NSF_NCSES/Data/SED_Export_2020-06-17T23_22_18.852Z.csv', skiprows=[0], header=[1])
df1 = df1.set_index(['S&E Fields', 'Broad Fields', 'Detailed Fields'])
df1.head(3)
#df1.tail()
df1.dtypes

2018    object
2017     int64
2016    object
2015    object
2014    object
         ...
1962    object
1961    object
1960    object
1959    object
1958    object
Length: 61, dtype: object

In [209]:
df1s = df1.stack()
df1s =df1s.to_frame()
df1s.head(10)
df1s = df1s.reset_index()
df1s.columns = ['S&E Fields', 'Broad Fields', 'Detailed Fields', 'Year', 'Number']
# df1s.columns
# df1s.head()
# df1s.shape

In [210]:
df1s = df1s[df1s['Detailed Fields'] != 'Total']
df1s = df1s.reset_index()
df1s = df1s[['S&E Fields', 'Broad Fields', 'Detailed Fields', 'Year', 'Number']]
#df1s["Number"] = df1s["Number"].astype(str).astype(float)
df1s.head(3)
df1s.tail(3)
df1s['Number'].replace('-', np.nan, inplace=True)
df1s = df1s.dropna()
#df1s.describe
#df1s.dtypes

df1s.describe
df1s["Number"] = df1s["Number"].astype(str).astype(int)
df1s.dtypes
df1s.head(3)
#df1s.tail(3)

,S&E Fields,Broad Fields,Detailed Fields,Year,Number
0,Science and engineering,Life sciences,Agricultural sciences and natural resources,2018,1445
1,Science and engineering,Life sciences,Agricultural sciences and natural resources,2017,1494
2,Science and engineering,Life sciences,Agricultural sciences and natural resources,2016,1378

In [211]:
SE_NSE = df1s[[ 'S&E Fields','Broad Fields','Detailed Fields','Year','Number']]
SE_NSE = df1s.set_index(['S&E Fields', 'Broad Fields', 'Detailed Fields'])

In [217]:
SE_NSE = SE_NSE.groupby(['S&E Fields','Broad Fields', 'Detailed Fields'])['Number'].sum()
#SE_NSE=SE_NSE.sum(level='Detailed Fields')
SE_NSE = SE_NSE.to_frame()
SE_NSE = SE_NSE.reset_index()

In [218]:
SE_NSE.head(200)
#SE_NSE.columns

,S&E Fields,Broad Fields,Detailed Fields,Number
0,Non-science and engineering,Education,Education administration,89994
1,Non-science and engineering,Education,Education research,141889
2,Non-science and engineering,Education,Other education,33149
3,Non-science and engineering,Education,Teacher education,22151
4,Non-science and engineering,Education,Teaching fields,58215
5,Non-science and engineering,Humanities and arts,Foreign languages and literature,33948
6,Non-science and engineering,Humanities and arts,History,51058
7,Non-science and engineering,Humanities and arts,Letters,77297
8,Non-science and engineering,Humanities and arts,Other humanities and arts,94103
9,Non-science and engineering,Other non-S&E,Business management and administration,56686
10,Non-science and engineering,Other non-S&E,Communication,19192
11,Non-science and engineering,Other non-S&E,Non-S&E fields not elsewhere classified,32644
12,Non-science and engineering,Other non-S&E,Unknown field,22
13,Science and engineering,Engineering,"Aerospace, aeronautical, and astronautical eng...",11376
14,Science and engineering,Engineering,Bioengineering and biomedical engineering,17037
15,Science and engineering,Engineering,Chemical engineering,32582
16,Science and engineering,Engineering,Civil engineering,25930
17,Science and engineering,Engineering,"Electrical, electronics, and communications en...",50866
18,Science and engineering,Engineering,Industrial and manufacturing engineering,9201
19,Science and engineering,Engineering,Materials science engineering,19727
20,Science and engineering,Engineering,Mechanical engineering,39476
21,Science and engineering,Engineering,Other engineering,79450
22,Science and engineering,Life sciences,Agricultural sciences and natural resources,65299
23,Science and engineering,Life sciences,Biological and biomedical sciences,290165
24,Science and engineering,Life sciences,Health sciences,65960
25,Science and engineering,Mathematics and computer sciences,Computer and information sciences,41623
26,Science and engineering,Mathematics and computer sciences,Mathematics and statistics,64180
27,Science and engineering,Physical sciences and earth sciences,Chemistry,119119
28,Science and engineering,Physical sciences and earth sciences,"Geosciences, atmospheric sciences, and ocean s...",40066
29,Science and engineering,Physical sciences and earth sciences,Physics and astronomy,85805
30,Science and engineering,Psychology and social sciences,Anthropology,21132
31,Science and engineering,Psychology and social sciences,Economics,53168
32,Science and engineering,Psychology and social sciences,Other social sciences,67635
33,Science and engineering,Psychology and social sciences,Political science and government,25497
34,Science and engineering,Psychology and social sciences,Psychology,171836
35,Science and engineering,Psychology and social sciences,Sociology,31270

In [179]:
# Doctorate Recipients by Demographic Characteristics ---- Data by Citizenship,  Race/Ethnicity, Sex, S&E Fields, Broad Fields, Detailed Fields, and Year
# Data Download from NCSES Interactive Data Tool
df2 = pd.read_csv('C:/Users/Muluken/WorkingFiles/NSF_NCSES/Data/SED_Export_2020-06-17T23_29_53.896Z.csv', skiprows=[0], header=[1])
df2 = df2.set_index(['Citizenship','Race and Ethnicity', 'Sex','S&E Fields', 'Broad Fields', 'Detailed Fields'])
df2.head()

                                                                                                                    2018  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total            35404
                                   Hispanic or Latino Total Total                   Total         Total             2582
                                                      Male  Total                   Total         Total             1202
                                                            Science and engineering Total         Total              908
                                                                                    Life sciences Total              267

                                                                                                                    2017  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total            35738
                                   Hispanic or Latino Total Total                   Total         Total             2537
                                                      Male  Total                   Total         Total             1153
                                                            Science and engineering Total         Total              845
                                                                                    Life sciences Total              242

                                                                                                                    2016  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total            35671
                                   Hispanic or Latino Total Total                   Total         Total             2548
                                                      Male  Total                   Total         Total             1134
                                                            Science and engineering Total         Total              849
                                                                                    Life sciences Total              242

                                                                                                                    2015  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total            35071
                                   Hispanic or Latino Total Total                   Total         Total             2448
                                                      Male  Total                   Total         Total             1119
                                                            Science and engineering Total         Total              832
                                                                                    Life sciences Total              273

                                                                                                                    2014  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total            34004
                                   Hispanic or Latino Total Total                   Total         Total             2190
                                                      Male  Total                   Total         Total              999
                                                            Science and engineering Total         Total              731
                                                                                    Life sciences Total              228

                                                                                                                    2013  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total            33964
                                   Hispanic or Latino Total Total                   Total         Total             2135
                                                      Male  Total                   Total         Total              905
                                                            Science and engineering Total         Total              638
                                                                                    Life sciences Total              220

                                                                                                                    2012  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total            32981
                                   Hispanic or Latino Total Total                   Total         Total             2144
                                                      Male  Total                   Total         Total              948
                                                            Science and engineering Total         Total              692
                                                                                    Life sciences Total              212

                                                                                                                    2011  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total            31725
                                   Hispanic or Latino Total Total                   Total         Total             1989
                                                      Male  Total                   Total         Total              893
                                                            Science and engineering Total         Total              644
                                                                                    Life sciences Total              209

                                                                                                                    2010  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total            31602
                                   Hispanic or Latino Total Total                   Total         Total             1842
                                                      Male  Total                   Total         Total              815
                                                            Science and engineering Total         Total              569
                                                                                    Life sciences Total              183

                                                                                                                    2009  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total            32327
                                   Hispanic or Latino Total Total                   Total         Total             1880
                                                      Male  Total                   Total         Total              853
                                                            Science and engineering Total         Total              555
                                                                                    Life sciences Total              172

                                                                                                                   ...  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields  ...
U.S. citizen or permanent resident Total              Total Total                   Total         Total            ...
                                   Hispanic or Latino Total Total                   Total         Total            ...
                                                      Male  Total                   Total         Total            ...
                                                            Science and engineering Total         Total            ...
                                                                                    Life sciences Total            ...

                                                                                                                  Unnamed: 61  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total                   NaN
                                   Hispanic or Latino Total Total                   Total         Total                   NaN
                                                      Male  Total                   Total         Total                   NaN
                                                            Science and engineering Total         Total                   NaN
                                                                                    Life sciences Total                   NaN

                                                                                                                  Unnamed: 62  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total                   NaN
                                   Hispanic or Latino Total Total                   Total         Total                   NaN
                                                      Male  Total                   Total         Total                   NaN
                                                            Science and engineering Total         Total                   NaN
                                                                                    Life sciences Total                   NaN

                                                                                                                  Unnamed: 63  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total                   NaN
                                   Hispanic or Latino Total Total                   Total         Total                   NaN
                                                      Male  Total                   Total         Total                   NaN
                                                            Science and engineering Total         Total                   NaN
                                                                                    Life sciences Total                   NaN

                                                                                                                  Unnamed: 64  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total                   NaN
                                   Hispanic or Latino Total Total                   Total         Total                   NaN
                                                      Male  Total                   Total         Total                   NaN
                                                            Science and engineering Total         Total                   NaN
                                                                                    Life sciences Total                   NaN

                                                                                                                  Unnamed: 65  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total                   NaN
                                   Hispanic or Latino Total Total                   Total         Total                   NaN
                                                      Male  Total                   Total         Total                   NaN
                                                            Science and engineering Total         Total                   NaN
                                                                                    Life sciences Total                   NaN

                                                                                                                  Unnamed: 66  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total                   NaN
                                   Hispanic or Latino Total Total                   Total         Total                   NaN
                                                      Male  Total                   Total         Total                   NaN
                                                            Science and engineering Total         Total                   NaN
                                                                                    Life sciences Total                   NaN

                                                                                                                  Unnamed: 67  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total                   NaN
                                   Hispanic or Latino Total Total                   Total         Total                   NaN
                                                      Male  Total                   Total         Total                   NaN
                                                            Science and engineering Total         Total                   NaN
                                                                                    Life sciences Total                   NaN

                                                                                                                  Unnamed: 68  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total                   NaN
                                   Hispanic or Latino Total Total                   Total         Total                   NaN
                                                      Male  Total                   Total         Total                   NaN
                                                            Science and engineering Total         Total                   NaN
                                                                                    Life sciences Total                   NaN

                                                                                                                  Unnamed: 69  \
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total                   NaN
                                   Hispanic or Latino Total Total                   Total         Total                   NaN
                                                      Male  Total                   Total         Total                   NaN
                                                            Science and engineering Total         Total                   NaN
                                                                                    Life sciences Total                   NaN

                                                                                                                  Unnamed: 70
Citizenship                        Race and Ethnicity Sex   S&E Fields              Broad Fields  Detailed Fields
U.S. citizen or permanent resident Total              Total Total                   Total         Total                   NaN
                                   Hispanic or Latino Total Total                   Total         Total                   NaN
                                                      Male  Total                   Total         Total                   NaN
                                                            Science and engineering Total         Total                   NaN
                                                                                    Life sciences Total                   NaN

[5 rows x 65 columns]

In [ ]:
df2s = df2.stack()
df2s =df2s.to_frame()

df2s = df2s.reset_index()
df2s.columns = ['Citizenship','Race and Ethnicity', 'Sex','S&E Fields', 'Broad Fields', 'Detailed Fields', 'Year', 'Number']
df2s.head(10)

In [ ]:
df2s = df2s[df2s['Detailed Fields'] != 'Total']
df2s = df2s.reset_index()
df2s = df2s[['Citizenship','Race and Ethnicity', 'Sex','S&E Fields', 'Broad Fields', 'Detailed Fields', 'Year', 'Number']]
df2s.head()