In [ ]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # library to convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors


from sklearn.cluster import KMeans  # import k-means from clustering stage

import folium # map rendering library

import urllib.request    # library module for opening URL
from bs4 import BeautifulSoup    # library for pulling data out of HTML and XML files

print('Libraries imported.')

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_Virginia_locations_by_per_capita_income"
page = urllib.request.urlopen(url)

In [ ]:
soup = BeautifulSoup(page, "html")
right_table=soup.find('table', class_='wikitable sortable')
right_table

In [ ]:
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
G=[]
H=[]

for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==8:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        D.append(cells[3].find(text=True))
        E.append(cells[4].find(text=True))
        F.append(cells[5].find(text=True))
        G.append(cells[6].find(text=True))
        H.append(cells[7].find(text=True))

In [ ]:
import pandas as pd
df=pd.DataFrame(A,columns=['Rank'])
df['Name']=B
df['County_or_City']=C
df['PerCapitaIncome']=D
df['MedianHHIncome']=E
df['MedianFamIncome']=F
df['Population']=G
df['NumberOfHH']=H

df = df.replace('\n','', regex=True)
df.columns = ['Rank', 'Name','County_or_City',  'PerCapitaIncome', 'MedianHHIncome', 'MedianFamIncome', 'Population', 'NumberOfHH']
df.head()
#df.shape

In [ ]:
url2 = 'http://www.usa.com/rank/virginia-state--median-household-income--zip-code-rank.htm'
page2 = urllib.request.urlopen(url2)

In [ ]:
url2

In [ ]:
soup2 = BeautifulSoup(page2, "html")
right_table=soup2.find('table', class_='wikitable sortable')
right_table

In [ ]:
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
G=[]
H=[]

for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==8:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        D.append(cells[3].find(text=True))
        E.append(cells[4].find(text=True))
        F.append(cells[5].find(text=True))
        G.append(cells[6].find(text=True))
        H.append(cells[7].find(text=True))

In [ ]:
import pandas as pd
df=pd.DataFrame(A,columns=['Rank'])
df['Name']=B
df['County_or_City']=C
df['PerCapitaIncome']=D
df['MedianHHIncome']=E
df['MedianFamIncome']=F
df['Population']=G
df['NumberOfHH']=H

df = df.replace('\n','', regex=True)
df.columns = ['Rank', 'Name','County_or_City',  'PerCapitaIncome', 'MedianHHIncome', 'MedianFamIncome', 'Population', 'NumberOfHH']
df.head()
#df.shape

In [ ]:
# import geocoder # import geocoder

# # initialize your variable to None
# lat_lng_coords = None

# # loop until you get the coordinates
# while(lat_lng_coords is None):
#     g = geocoder.google('{}, Virginia'.format(Name))  # tried as postal_code too
#     lat_lng_coords = g.latlng

# latitude = lat_lng_coords[0]
# longitude = lat_lng_coords[1]

In [35]:
import requests
import lxml.html as lh
import pandas as pd

In [36]:
#url='http://pokemondb.net/pokedex/all'
url = 'http://www.usa.com/rank/virginia-state--median-household-income--zip-code-rank.htm'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [37]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [38]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rank"
2:"Median Household Income ▼"
3:"Zip / Population"

In [39]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [40]:
[len(C) for (title,C) in col]

[854, 854, 854]

In [41]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [42]:
df.head()

   Rank  Median Household Income ▼  Zip / Population
0  Rank  Median Household Income ▼  Zip / Population
1    1.                   $222,674    22066 / 18,817
2    2.                   $200,179     22027 / 2,338
3    3.                   $199,605    22039 / 18,791
4    4.                   $183,738    22101 / 30,221

In [43]:
# new data frame with split value columns 
new = df["Zip / Population"].str.split(" / ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
df["Zip"]= new[0] 
  
# making separate last name column from new data frame 
df["Population"]= new[1] 
  
# Dropping old Name columns 
df.drop(columns =["Zip / Population"], inplace = True) 
  
# df display 
df.head()

   Rank  Median Household Income ▼    Zip  Population
0  Rank  Median Household Income ▼    Zip  Population
1    1.                   $222,674  22066      18,817
2    2.                   $200,179  22027       2,338
3    3.                   $199,605  22039      18,791
4    4.                   $183,738  22101      30,221

In [44]:
# df display 
df = df[1:]
df.head()

  Rank Median Household Income ▼    Zip Population
1   1.                  $222,674  22066     18,817
2   2.                  $200,179  22027      2,338
3   3.                  $199,605  22039     18,791
4   4.                  $183,738  22101     30,221
5   5.                  $177,500  20184        764

In [25]:
# import geocoder # import geocoder

# # initialize your variable to None
# lat_lng_coords = None

# # loop until you get the coordinates
# while(lat_lng_coords is None):
#     g = geocoder.google('{}, Virginia, VA'.format(zip))  # tried as postal_code too
#     lat_lng_coords = g.latlng

# latitude = lat_lng_coords[0]
# longitude = lat_lng_coords[1]

In [45]:
import pgeocode

In [46]:
nomi = pgeocode.Nominatim('us')

In [57]:
nomi.query_postal_code(df['Zip'].tolist())

,postal_code,country_code,place_name,state_name,state_code,county_name,county_code,community_name,community_code,latitude,longitude,accuracy
0,22066,US,Great Falls,Virginia,VA,Fairfax,59.0,NaN,NaN,39.0039,-77.3083,4.0
1,22027,US,Dunn Loring,Virginia,VA,Fairfax,59.0,NaN,NaN,38.8954,-77.2214,4.0
2,22039,US,Fairfax Station,Virginia,VA,Fairfax,59.0,NaN,NaN,38.7602,-77.3064,4.0
3,22101,US,Mc Lean,Virginia,VA,Fairfax,59.0,NaN,NaN,38.9326,-77.1706,1.0
4,20184,US,Upperville,Virginia,VA,Fauquier,61.0,NaN,NaN,38.9627,-77.8847,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
848,24132,US,Parrott,Virginia,VA,Pulaski,155.0,NaN,NaN,37.2048,-80.6205,4.0
849,23316,US,Cheriton,Virginia,VA,Northampton,131.0,NaN,NaN,37.2896,-75.9713,4.0
850,23414,US,Nelsonia,Virginia,VA,Accomack,1.0,NaN,NaN,37.8169,-75.5832,4.0
851,23488,US,Withams,Virginia,VA,Accomack,1.0,NaN,NaN,37.9482,-75.6019,4.0
852,23401,US,Keller,Virginia,VA,Accomack,1.0,NaN,NaN,37.6193,-75.7638,4.0

In [52]:
x =[]

In [56]:
x = df['Zip'].tolist()
type(x)

list