# Statistical Analysis

Statistics is the science of collecting, analyzing, presenting, and interpreting data.
### Descriptive Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Doctorate Recipients by Demography--- Doctrate reciepients by Citizenship,  Race/Ethnicity, Sex, S&E Fields, Broad Fields, Detailed Fields, and Year
# Data Download from NCSES Interactive Data Tool
df = pd.read_csv('../../Users/gitData/SED_export_table_2020-11-12T19_44_35.595Z.csv', skiprows=[0], header=[1])

# Removing 'Total values' --- for calculating statistical purposes
df1 = df['Detailed Fields']!='Total for selected values'
df = df[df1]
df2 = df['Race and Ethnicity']!='Total for selected values'
df = df[df2]
df3 = df['Citizenship']!='Total for selected values'
df = df[df3]
df4 = df['Sex']!='Total for selected values'
df = df[df4]
df.head()

,S&E Fields,Broad Fields,Detailed Fields,Race and Ethnicity,Citizenship,Sex,2018,2017,2016,2015,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
5,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,19,19,19,24,...,17,20,12,13,11,10,10,8,17,2
6,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Female,30,28,27,28,...,4,2,5,6,6,-,2,3,1,5
7,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Unknown sex,1,-,-,-,...,-,-,-,-,-,-,-,-,-,-
10,Science and engineering,Life sciences,Agricultural sciences and natural resources,"American Indian or Alaska Native, Not Hispanic...",U.S. citizen or permanent resident,Male,1,1,2,-,...,1,4,2,1,4,1,1,2,2,1
11,Science and engineering,Life sciences,Agricultural sciences and natural resources,"American Indian or Alaska Native, Not Hispanic...",U.S. citizen or permanent resident,Female,-,1,3,1,...,1,3,-,-,-,-,-,1,-,-

In [3]:
df = df.set_index(['S&E Fields', 'Broad Fields', 'Detailed Fields', 'Race and Ethnicity',
       'Citizenship', 'Sex'])
df.head()

                                                                                                                                                                                    2018  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          19
                                                                                                                                                                        Female        30
                                                                                                                                                                        Unknown sex    1
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           1
                                                                                                                                                                        Female         -

                                                                                                                                                                                    2017  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          19
                                                                                                                                                                        Female        28
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           1
                                                                                                                                                                        Female         1

                                                                                                                                                                                    2016  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          19
                                                                                                                                                                        Female        27
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           2
                                                                                                                                                                        Female         3

                                                                                                                                                                                    2015  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          24
                                                                                                                                                                        Female        28
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           -
                                                                                                                                                                        Female         1

                                                                                                                                                                                    2014  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          24
                                                                                                                                                                        Female        24
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           4
                                                                                                                                                                        Female         1

                                                                                                                                                                                    2013  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          25
                                                                                                                                                                        Female        28
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           2
                                                                                                                                                                        Female         2

                                                                                                                                                                                    2012  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          24
                                                                                                                                                                        Female        18
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           2
                                                                                                                                                                        Female         3

                                                                                                                                                                                    2011  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          26
                                                                                                                                                                        Female        23
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           -
                                                                                                                                                                        Female         1

                                                                                                                                                                                    2010  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          11
                                                                                                                                                                        Female        20
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           2
                                                                                                                                                                        Female         -

                                                                                                                                                                                    2009  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          14
                                                                                                                                                                        Female        20
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           2
                                                                                                                                                                        Female         2

                                                                                                                                                                                     ...  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex          ...
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male         ...
                                                                                                                                                                        Female       ...
                                                                                                                                                                        Unknown sex  ...
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male         ...
                                                                                                                                                                        Female       ...

                                                                                                                                                                                    1989  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          17
                                                                                                                                                                        Female         4
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           1
                                                                                                                                                                        Female         1

                                                                                                                                                                                    1988  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          20
                                                                                                                                                                        Female         2
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           4
                                                                                                                                                                        Female         3

                                                                                                                                                                                    1987  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          12
                                                                                                                                                                        Female         5
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           2
                                                                                                                                                                        Female         -

                                                                                                                                                                                    1986  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          13
                                                                                                                                                                        Female         6
                                                                                                                                                                        Unknown sex    -
                                                                                  American Indian or Alaska Native, Not Hispanic ... U.S. citizen or permanent resident Male           1
                                                                                                                                                                        Female         -

                                                                                                                                                                                    1985  \
S&E Fields              Broad Fields  Detailed Fields                             Race and Ethnicity                                 Citizenship                        Sex
Science and engineering Life sciences Agricultural sciences and natural resources Hispanic or Latino                                 U.S. citizen or permanent resident Male          11

In [4]:
df = df.stack().to_frame()
df = df.reset_index()
df.head()

,S&E Fields,Broad Fields,Detailed Fields,Race and Ethnicity,Citizenship,Sex,level_6,0
0,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,2018,19
1,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,2017,19
2,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,2016,19
3,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,2015,24
4,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,2014,24

In [5]:
df.columns = ['S&E Fields', 'Broad Fields', 'Detailed Fields', 'Race and Ethnicity',
       'Citizenship', 'Sex', 'Year', 'Number']
df.head()
#df.columns

,S&E Fields,Broad Fields,Detailed Fields,Race and Ethnicity,Citizenship,Sex,Year,Number
0,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,2018,19
1,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,2017,19
2,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,2016,19
3,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,2015,24
4,Science and engineering,Life sciences,Agricultural sciences and natural resources,Hispanic or Latino,U.S. citizen or permanent resident,Male,2014,24

In [6]:
df3 = df['Number']!='-'
df = df[df3]
df.dtypes

S&E Fields            object
Broad Fields          object
Detailed Fields       object
Race and Ethnicity    object
Citizenship           object
Sex                   object
Year                  object
Number                object
dtype: object

In [7]:
df['Number']=df['Number'].str.replace(',','')  # Removing ',' from numbers to change object to int

In [8]:
df["Number"] = df["Number"].astype(str).astype(int)
df.dtypes
#df["Number"] = pd.to_numeric(df["Number"])

S&E Fields            object
Broad Fields          object
Detailed Fields       object
Race and Ethnicity    object
Citizenship           object
Sex                   object
Year                  object
Number                 int32
dtype: object

In [9]:
df[['Year', 'Number']].groupby(["Year"]).sum()

      Number
Year
1980   31019
1981   31355
1982   31108
1983   31280
1984   31334
1985   31295
1986   31897
1987   32365
1988   33497
1989   34325
1990   36065
1991   37530
1992   38886
1993   39800
1994   41034
1995   41747
1996   42437
1997   42539
1998   42636
1999   41100
2000   41369
2001   40744
2002   40031
2003   40762
2004   42122
2005   43385
2006   45620
2007   48132
2008   48776
2009   49552
2010   48028
2011   48910
2012   50943
2013   52703
2014   53989
2015   54889
2016   54798
2017   54559
2018   55195

In [10]:
df[['S&E Fields',"Year", 'Number']].groupby(['S&E Fields',"Year"]).mean()

                                      Number
S&E Fields                  Year
Non-science and engineering 1980   79.813665
                            1981   83.721854
                            1982   79.819355
                            1983   77.471338
                            1984   70.461988
...                                      ...
Science and engineering     2014  111.936639
                            2015  114.701950
                            2016  112.661202
                            2017  113.445055
                            2018  117.297222

[78 rows x 1 columns]

In [11]:
df[['S&E Fields',"Year", 'Number']].groupby(['S&E Fields',"Year"]).sum()

                                  Number
S&E Fields                  Year
Non-science and engineering 1980   12850
                            1981   12642
                            1982   12372
                            1983   12163
                            1984   12049
...                                  ...
Science and engineering     2014   40633
                            2015   41178
                            2016   41234
                            2017   41294
                            2018   42227

[78 rows x 1 columns]